:root { 
--deep_orange_A100:#e4b07b; 
--deep_orange_A101:#f6b47b; 
--green_900:#285430; 
--teal_300:#43a0c5; 
--yellow_600:#ffd739; 
--white_A700_14:#ffffff14; 
--deep_orange_A102:#e2a071; 
--teal_A700:#00ab9a; 
--gray_600:#a46d4d; 
--gray_601:#808080; 
--pink_50:#ffe2e5; 
--gray_400:#c8c8c8; 
--orange_A201:#ffb039; 
--teal_A701:#00bea4; 
--orange_A200:#ffb440; 
--gray_802:#5e342e; 
--gray_800:#623f33; 
--red_A200:#ff4f4f; 
--lime_900:#9d6e48; 
--gray_801:#6e4439; 
--orange_200:#fdc88e; 
--bluegray_200:#b5b5c3; 
--lime_901:#8d5f3d; 
--blue_100:#ccdbfd; 
--blue_101:#b6ccfe; 
--white_A700:#ffffff; 
--gray_51:#f9f9f9; 
--light_blue_A200:#39c3ff; 
--red_300:#c38762; 
--red_500:#f23f44; 
--red_301:#d29771; 
--gray_50:#fafafa; 
--teal_400:#258cac; 
--black_900:#000000; 
--yellow_700:#ffc33d; 
--light_green_700:#5f8d4e; 
--red_A201:#f64e60; 
--purple_800:#63328a; 
--gray_909:#181c32; 
--gray_700:#734a3e; 
--gray_900:#212121; 
--bluegray_100:#d9d9d9; 
--gray_101:#f3fff3; 
--gray_102:#f4fff3; 
--orange_101:#ffe1b2; 
--orange_100:#ffd7a3; 
--gray_100:#f3f6f9; 
--cyan_300:#57b9dd; 
--bluegray_700:#464e5f; 
--bluegray_101:#cccccc; 
}